*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial, Helvetica, sans-serif;
background:#eef4ff;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.container{

width:100%;
display:flex;
justify-content:center;

}

.result-box{

width:700px;

background:white;

padding:35px;

border-radius:10px;

box-shadow:0 0 15px rgba(0,0,0,.2);

text-align:center;

}

.result-box h1{

color:#0056b3;

margin-bottom:10px;

}

.result-box h2{

margin-bottom:20px;

}

.result-box p{

margin-bottom:20px;

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

table th,
table td{

border:1px solid #ddd;

padding:12px;

}

table th{

background:#0056b3;

color:white;

width:45%;

}

.buttons{

margin-top:30px;

}

button{

padding:12px 25px;

margin:10px;

border:none;

background:#0056b3;

color:white;

font-size:16px;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#003d80;

}